.infoWrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: auto;
}

@media (max-width: 600px) {
    .pageTitle{
        margin-top: 2000px;
    }
}