.featuresDiv {
    margin: auto;
    margin-top: 250px;
    max-width: 1300px;
    height: auto;
    margin-bottom: 40px;
  }
  
  .featuresDiv::after {
    content: '';
    clear: both;
  }
  
  .featuresWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px;
  }
  
  .featuresBox {
    margin: 20px;
    text-align: center;
    padding: 20px;
    width: 300px;
    height: 250px;
    text-align: center;
  }
  
  .featuresBox > svg {
    font-size: 3em;
    margin: auto;
    margin-bottom: 20px;
    color: rgb(29, 29, 29);
  }
  
  /* mobile styles */
  @media (max-width: 600px) {
    .featuresDiv {
      margin: auto;
      margin-top: 100px;
      max-width: 100%;
      height: auto;
      margin-bottom: 40px;
      margin-top: 750px; /* Adjust the margin-top value */
    }
  
      
      .featuresWrapper {
        display: flex;
        flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
        justify-content: center; /* Center the flex items horizontally */
        align-items: center;
        margin: auto;
        padding: 20px;
      }
      
      .featuresBox {
        text-align: center;
        padding: 20px;
        width: 100%; /* Take full width on mobile */
        max-width: 300px; /* Limit the maximum width */
        height: auto;
        text-align: center;
      }
      
      .featuresBox > svg {
        font-size: 3em;
        margin: auto;
        margin-bottom: 20px;
        color: rgb(29, 29, 29);
      }
      
  }
  