.donationContainer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: url('/donateBG.png') center/cover no-repeat;
}

/* .backgroundImage {
  } */
  
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000af;
  }
  
  .contentContainer {
    position: relative;
    z-index: 99;
  }
  
  .donationForm {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100vh;
    margin-top: 100px;
    z-index: 99;
  }

/* .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000c5;
    z-index: -1;
} */

.donationHeader{
    font-size: 5rem;
    color: #fff;
}

.donationForm > div > input {
    margin: 10px;
    width: 300px;
    padding: 15px;
    margin-bottom: 20px;
}

.donationForm button{
    background-color: #af0505;
    width: 620px;
    padding: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
}

/* mobile */
@media screen and (max-width: 600px) {
    .donationHeader{
        font-size: 2.5rem;
    }
    .donationForm button{
        background-color: #af0505;
        width: 300px;
        padding: 20px;
        color: #fff;
        font-weight: bold;
        font-size: 1.3rem;
    }
}